@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text_gradient {
  background: -webkit-linear-gradient(#faaca8, #ddd6f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
